.foods-container {
    position: relative;
    height: calc(100dvh - var(--top-bar-height));
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.food-types-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.food-type {
    border-radius: 3rem;
    margin: 0 0.5rem;
    min-width: 5rem;
}

.food-types-container .sort {
    /*background-color: #61dafb;*/
    width: 2.5rem;
    height: 2.5rem;
}

.food-types-container .sort > img{
    /*background-color: #61dafb;*/
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--menu-background-color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 0.1);
    border: solid 1px hsla(0, 0%, 100%, 0.18);
}

.food-types-container .sort-dropdown{
    position: absolute;
    border-radius: 0.5rem;
    background-color: hsla(36, 34%, 90%, 0.9);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 0.2);
    right: 0;
    overflow: hidden;
    height: 0;
    transition: height 300ms;
    cursor: default;
}

.food-types-container .sort-dropdown.open {
    height: calc(6lh + (12 * 0.4rem));
}

.food-types-container .sort-dropdown div.selected {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.food-types-container .sort-dropdown div{
   padding: 0.4rem 0.5rem;
}

.placeholder {
    visibility: hidden;
}


.allergens-container {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--card-background-color);
    border-radius: 0.5rem;

    user-select: none;
    cursor: default;
}

.allergens-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
}

.allergens-container .dropdown {
    height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0.5rem;
    transition: height 300ms;
}

.allergens-container.open .dropdown {
    height: calc(4rem + 4lh);
}

.allergens-container .dropdown div {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.allergens-container input {
    width: 1lh;
    height: 1lh;
}

.allergens-container .arrow-icon {
    width: 1lh;
    height: 1lh;
}


.card-container {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 0.5rem;
}

@media screen and (min-width: 22rem) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 39rem) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 52rem) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 65rem) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 78rem) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.card {
    /*aspect-ratio: 0.5;*/
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
}

.foods-container .card {
    font-size: 0.875rem;
    --add-button-width: 2.5rem;

    display: grid;
    grid-template-columns: 1fr calc(var(--add-button-width) + 1rem);
    grid-template-rows: 1.4lh max-content 2lh 3lh calc(var(--add-button-width) + 1rem);
    grid-template-areas: "price price" "image image" "name name" "description description" "rate add-button";
    gap: 0.25rem;
    text-align: center;
}

.foods-container .image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4/3;
    justify-self: center;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.foods-container .price {
    grid-area: price;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foods-container .name {
    grid-area: name;
    margin: 0 0.25rem;
    justify-self: center;
    font-weight: bold;
}

.foods-container .description {
    grid-area: description;
    margin: 0 0.25rem;
    justify-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
}

.foods-container .rate {
    grid-area: rate;
    align-self: center;
    text-align: left;

    display: flex;
    align-items: center;

    margin: 0 0 0 0.5rem;
    overflow: hidden;
}

.foods-container .rate img {
    width: 1.5lh;
    height: 1.5lh;
    margin: 0 -0.25rem;
}

.foods-container .card-container .add-button {
    grid-area: add-button;
    justify-self: center;
    align-self: center;

    width: var(--add-button-width);
    height: var(--add-button-width);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 3rem;
    padding: 0.25rem;

    font-weight: bold;
    font-size: 1.25rem;

    color: var(--text-light-color);
    background-color: var(--primary-color);
}