.foods-container {
    height: calc(100dvh - var(--top-bar-height));
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
}

.food-types-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.food-type {
    border-radius: 3rem;
    margin: 0 0.5rem;
    min-width: 5rem;
}

.food-types-container .sort {
    /*background-color: #61dafb;*/
    width: 2.5rem;
    height: 2.5rem;
}

.placeholder {
    visibility: hidden;
}


.allergens-container {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
}

.allergens-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
}

.allergens-container .dropdown {
    height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0.5rem;
    transition: height 300ms;
}

.allergens-container.open .dropdown {
    height: calc(4rem + 4lh);
}

.allergens-container .dropdown div {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.allergens-container input {
    width: 1lh;
    height: 1lh;
}

.allergens-container .arrow-icon {
    width: 1lh;
    height: 1lh;
}


.card-container {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.card {
    /*aspect-ratio: 0.5;*/
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
}

.foods-container .card {
    font-size: 0.875rem;
    --add-button-width: 2.5rem;

    display: grid;
    grid-template-columns: 1fr var(--add-button-width);
    grid-template-rows: 1lh max-content 2lh 3lh var(--add-button-width);
    grid-template-areas: "price price" "image image" "name name" "description description" "rate add-button";
    gap: 0.25rem;
    text-align: center;
}

.foods-container .image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4/3;
    justify-self: center;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.foods-container .price {
    grid-area: price;
    margin: 0 0.25rem;
}

.foods-container .name {
    grid-area: name;
    margin: 0 0.25rem;
    justify-self: center;
    font-weight: bold;
}

.foods-container .description {
    grid-area: description;
    margin: 0 0.25rem;
    justify-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
}

.foods-container .rate {
    grid-area: rate;
    align-content: center;
    text-align: left;
    margin: 0 0.25rem;
    overflow: hidden;
}

.foods-container .rate img {
    width: 1.5lh;
    height: 1.5lh;
    margin: -0.25rem;
}

.foods-container .add-button {
    font-weight: bold;
    font-size: 1.25rem;
    grid-area: add-button;
    margin: 0;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 3rem;
    padding: 0.25rem;
    border: none;
    color: var(--text-light-color);
    background-color: var(--primary-color);
}

