.order-item-container {
    max-width: 50rem;
    width: 100%;
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.5rem 0.6rem 0;
    gap: 0.5rem;
}

.order-item-container > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
