.menu-container {
    position: absolute;
    margin-top: var(--top-bar-height);
    height: calc(100% - var(--top-bar-height));
    background-color: var(--menu-background-color);
    overflow: hidden;
    color: black;
    user-select: none;
    cursor: default;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto) 1fr;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 0.1);
    border: solid 1px hsla(0, 0%, 100%, 0.18);
}


.menu-line {
    display: grid;
    grid-template-columns: var(--menu-closed-width) auto;
    align-items: center;
}

.menu-line:first-child, .menu-line:nth-child(3) {
    margin-bottom: 1rem;
}

.menu-line:last-child {
    align-self: end;
}

.menu-item-icon {
    width: var(--menu-closed-width);
    height: var(--menu-closed-width);
}

.menu-item-text {
    display: block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 300ms;
}

.menu-item-text span{
    margin-left: 0.75rem;
}

.menu-container.open .menu-item-text {
    width: 9rem;
}

/* Menu hamburger icon */

.menu-container .menu-svg {
    padding: 0.25rem;
    stroke-width: 3px;
    stroke-linecap: round;
}

.menu-container .line1, .line2 {
    transition: rotate 200ms ease-in-out, translate 200ms ease-in-out;
    transform-origin: center center;
}

.menu-container .line1 {
    translate: 0 -6px;
}

.menu-container .line2 {
    translate: 0 6px;
}

.menu-container.open .line1 {
    translate: 0 0;
    rotate: z 45deg;
}

.menu-container.open .line2 {
    translate: 0 0;
    rotate: z -45deg;
}
