.item-number-dialog-container {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.item-number-dialog {
    width: 20rem;
    height: 20rem;
    max-width: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
    background-color: white;
    border-radius: 0.5rem;
    display: grid;
    justify-items: center;
    align-content: space-between;
    padding: 0.5rem;
}

.item-number-dialog h2 {
    margin: 0.5rem;
    text-align: center;
}

.action-buttons-container {
    text-align: center;
}

.action-buttons-container button {
    margin: 0.3rem;
    min-width: 16rem;
}

.action-buttons-container div {
    display: flex;
    gap: 0.5rem;
}

.item-number-dialog-container select {
    padding: 0.4rem 0.6rem;
    border: none;
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    appearance: none;
    outline: none;
}
