body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100dvh;
    width: 100dvw;
}

#root {
    width: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-color: hsl(36, 14%, 35%);

    --text-light-color: hsl(0, 0%, 100%);
    --text-dark-color: hsl(0, 0%, 3%);

    --button-font-size: 15px;

    --menu-background-color: hsla(36, 34%, 90%, 0.7);
    --menu-closed-width: 3rem;

    --card-background-color: hsla(36, 34%, 90%, 0.7);

    --top-bar-height: 3rem;
}

.outline-button {
    border: 2px solid;
    background-color: transparent;
    font-size: var(--button-font-size);
    margin: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.outline-button-light {
    border-color: var(--text-light-color);
    color: var(--text-light-color);
}

/* Buttons */

.outline-button-dark {
    border-color: var(--text-light-color);;
    color: var(--text-light-color);
}

.outline-button-light:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.outline-button-dark:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.outline-button-light:active {
    background-color: hsla(0, 0%, 100%, 0.2);
}

.outline-button-dark:active {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.outline-button-dark {
    border-color: var(--text-light-color);;
    color: var(--text-light-color);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Set core body defaults */
body {
    /*min-height: 100vh;*/
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}