.payment-container {
  height: calc(100dvh - var(--top-bar-height));
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto 1fr; */
  overflow: hidden;
}

.title,
.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
}

.subtitle {
  font-size: 1rem;
}

.products-list {
  overflow: auto;
  max-height: 30%;
  /* margin: 0.5rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.products-list-header {
}

.product-container,
.service-fee-container {
  /* margin: 0.5rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.product-header,
.product-row,
.service-fee-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.product-column {
  flex: 1;
  text-align: left;
  padding-left: 24px;
}

.product-column:last-child {
  text-align: center;
}

.rating-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rate-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.horizontal-divider {
  height: 2px;
  background-color: black;
  margin: 10px 48px;
}

.payment-methods-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: auto auto; /* Two rows, auto-sized based on content */
  gap: 5px; /* Maintain a small gap for spacing */
  margin: 0.5rem;
  font-size: 0.8rem; /* Smaller text for the entire grid */
}

.payment-method,
.payment-options,
.payment-action {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.payment-method p,
.payment-options label {
  margin-top: 2px; /* Reduced margin top for text under icons */
  text-align: center; /* Ensure text is centered */
  cursor: pointer;
}

.payment-method svg,
.payment-method img {
  margin-bottom: 2px; /* Space between icon and text */
  margin: auto;
  cursor: pointer;
}

.payment-method.selected {
  background-color: #f0f0f0; /* Light grey background for the selected method */
  box-shadow: inset 0px 0px 0px 1px black;
}

.payment-options {
  flex-direction: column;
  cursor: pointer;
}

.payment-options label {
  display: flex;
  align-items: center; /* Center label text and radio button */
}

.payment-options input[type='radio'] {
  margin-right: 5px; /* Space between radio button and label text */
}

.payment-action {
  justify-content: center;
}

.payment-action button {
  padding: 5px 15px; /* Adjusted padding for a smaller button */
  font-size: 0.8rem; /* Smaller text size for button */
  cursor: pointer;
}

@media (max-width: 600px) {
  .product-column {
    font-size: 14px;
  }
}
